<div class="well">
    <h3>Task Description</h3>
    <div>
        Our product manager has given us the below requirements so we wrote an application to meet the critera. However we entirely forgot
        to write certain sections of the application. We would like you to do us a huge favour and finish the sections that we didn't get to.
    </div>
    <h3>User Story</h3>
        We have a customer who wants to create a web based CSV visualization application.
    <h3>Acceptance criteria</h3>
    <ul>
        <li>As a User I should be able to upload a CSV file with or without a header.</li>
        <li>As a User I should be able to upload a CSV file with a variable number of columns and data types.</li>
        <li>As a User I should be able to see the CSV file content on the web page in a formatted view.</li>
    </ul>
    <h3>Additional Details</h3>
    <ul>
        <li>You may not use any 3rd party code other than what we've given you.</li>
        <li>Feel free to create as many helper functions as you desire. You can add helper classes as well, but if you do they are expected to be unit tested.</li>
        <li>The contracts layer should remain the same. If you fundamentally disagree with how we've scaffolded the application you may change the contract layer, but you will need to justify that decision to us.</li>
        <li>You may find ways to earn bonus marks in comments throughout the code. If the base application doesn't work, bonus marks don't apply so get it working first.</li>
        <li>You can find CSV files in the folder TestCsvFiles. We'll be using these and a few others for testing the application.</li>
    </ul>
    <h3>Files To Be Updated</h3>
    <ul>
        <li>Q4CsvParser.Core/ValidationService</li>
        <li>Q4CsvParser.Core/FileService</li>
        <li>Q4CsvParser.Core/ParsingService</li>
        <li>Q4CsvParser.Core.Test/ParsingServiceTest</li>
        <li>Q4CsvParser.Core.Test/ValidationServiceTest</li>
    </ul>
    <h3>Hard Mode (For Over-Achievers only)</h3>
    <div>
        Create a new page that lists all the uploaded files and lets you click on one to show the formatted display.
        <br />
        Make sure that your base application meets all criteria before trying this. If you don't finish this part, your base application should be fully functional.
    </div>
</div>