@model Q4CsvParser.Web.Models.FormattedDisplayModel

@{
    ViewBag.Title = "Formatted Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data from <strong>@Model.OriginalFileName</strong></h2>

@* TODO Fill in the logic to create a view here *@
<table>
    @if (Model.HasHeader())
    {
        <tr>
            @foreach (var col in Model.CsvTable.HeaderRow.Columns)
            {
                <th>@col.Value</th>
            }
        </tr>
    }
    @foreach (var row in Model.CsvTable.Rows)
    {        
        <tr>
            @foreach (var col in row.Columns)
            {
                <td>@col.Value</td>
            }
        </tr>
    }
</table>


