@model Q4CsvParser.Web.Models.FormattedDisplayModel

@{
    ViewBag.Title = "Formatted Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data from <strong>@Model.OriginalFileName</strong></h2>

@if (Model != null)
    {
<table>
    @*<thead>
        <tr>
            @foreach (var col in Model.CsvTable)
            {
                <th>@col.ColumnName</th>
            }
        </tr>
    </thead>*@
    <tbody>
        @foreach (var row in Model.CsvTable.Rows)
        {
            <tr>
                @foreach (var item in row)
                {
                    <td>@item</td>
                }
            </tr>
        }
    </tbody>
</table>
    }

